<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>viewController</key>
		<string></string>
		<key>title</key>
		<string>Commander</string>
		<key>image</key>
		<string>cptRank.png</string>
	</dict>
	<dict>
		<key>viewController</key>
		<string>PADSoldierTableViewController</string>
		<key>title</key>
		<string>Soldiers</string>
		<key>image</key>
		<string>soldiers.png</string>
	</dict>
	<dict>
		<key>viewController</key>
		<string>PADCalculatorSegue</string>
		<key>title</key>
		<string>Calculator</string>
		<key>image</key>
		<string>calculator.png</string>
	</dict>
	<dict>
		<key>viewController</key>
		<string>PADEventTableViewController</string>
		<key>title</key>
		<string>Events</string>
		<key>image</key>
		<string>ptBadgeChrome2.png</string>
	</dict>
	<dict>
		<key>viewController</key>
		<string></string>
		<key>title</key>
		<string>E-Mail</string>
		<key>image</key>
		<string>email.png</string>
	</dict>
	<dict>
		<key>viewController</key>
		<string></string>
		<key>title</key>
		<string>Manuals</string>
		<key>image</key>
		<string>manual.png</string>
	</dict>
	<dict>
		<key>viewController</key>
		<string></string>
		<key>title</key>
		<string>Settings</string>
		<key>image</key>
		<string>dogtag.png</string>
	</dict>
	<dict>
		<key>viewController</key>
		<string></string>
		<key>title</key>
		<string>BMI</string>
		<key>image</key>
		<string>ptBadgeChrome2.png</string>
	</dict>
</array>
</plist>
